.site-header {
    z-index: 9999;
}
.site-header .site-header__main-nav {
    background: #fff;
    border-bottom: 1px solid #ddd;
}
.site-header .site-header__main-nav .main-nav-menu {
    list-style: none;
    margin:0;
}
.site-header .site-header__main-nav .main-nav-menu .main-nav-menu__item {
    margin: 0 1rem;
}
.site-header .site-header__main-nav .main-nav-menu .main-nav-menu__item a {
    color: var(--colorNavLink);
}
.site-header .site-header__main-nav .main-nav-menu .main-nav-menu__item a:hover,
.site-header .site-header__main-nav .main-nav-menu .main-nav-menu__item a.active {
    color: var(--colorSecondary);
}
.site-header .site-header__main-nav .btn__icon {
    margin-right: 0.75rem;
}