/* Home page */
.stat-section {
  background-color: var(--colorPrimary);
  background-image:  linear-gradient(to bottom,rgba(6, 42, 77,0.45), rgba(6, 42, 77,0.85)), url('/public/images/stat-section-bg.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.stat-section  .stat__count {
  font-family: var(--fontPara);
  font-weight: 400!important;
  font-size: 4.25rem;
}
.about-section {
  background-image: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.9)), url('/public/images/about-section-bg.jpg');
}
/* About Page */
.about-detailed-section .about-detailed__content {
  padding: 0 0 0 2.5rem;
}
.features-section .feature {
  padding: 2.25rem;
  position: relative;
}
.features-section .feature::after {
    content: '';
    display: block;
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 3px;
    background: var(--colorSecondary);
    transform: scaleX(0);
    transition: all 0.3s ease;
}
.features-section .feature:hover::after {
  transform: scaleX(1);
}
.features-section .feature .feature__icon-container,
.features-section .feature .feature__title,
.features-section .feature .feature__desc {
  z-index: 2;
}
.site-content.site-content--properties .page-title-section {
  background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.5)),  url('/public/images/property-page-bg.jpg')!important;
}
/* Property Single Page */
.property-single .property__top-overview .overview__spec .overview__spec-item {
  color: #fff;
  margin-right: 2.5rem;
}
.property-single .property__top-overview .overview__spec .overview__spec-item span {
  font-size: 1.25rem;
}
.property-single .property__top-overview .overview__spec .overview__spec-item span.spec-item__icon {
  margin-right: 0.75rem;
} 
.property-single .property__top-overview .overview__spec .overview__spec-item span.spec-item__text {
  margin-right: 0.25rem;
} 
.property-single .property__top-overview .overview__pricing .pricing-container {
  font-size: 2.25rem;
  color: #fff;
  margin-right: 1.25rem;
}
.property-single .property__top-overview .overview__pricing .overview__tag {
  background: var(--colorSecondary);
  color: #fff;
  font-size: 0.85rem;
  padding: 0.25rem 0.5rem;
}
.property-single .swiper-button-next, 
.property-single  .swiper-button-prev {
    padding: 0.75rem 1.25rem;
    color: #fff;
    background: var(--colorPrimary);
}
.property-single .swiper-button-next::after, 
.property-single  .swiper-button-prev::after {
  font-size: 1.25rem;
}
.property-single .property-single__desc > ul {
  background: var(--colorLightBg);
  border: none;
}
.property-single .property-single__desc > ul::after {
  content: "";
  display: block;
  bottom:0;
  left:0;
  width: 100%;
  height: 1px;
  background: var(--colorBorder);
}
.property-single .property-single__desc .nav-tabs .nav-link {
  color: var(--colorHeading);
  border-radius: 0;
  margin:0;
  border:none;
}
.property-single .property-single__desc .nav-tabs .nav-item.show .nav-link, 
.property-single .property-single__desc .nav-tabs .nav-link.active {
  border: none;
  background: var(--colorSecondary);
  color: #fff;
  margin:0;
}
.property-single .amenities-features-wrapper .font-weight-medium {
  font-weight: 500!important;
}
.property-single .agent-profile__contact .agent-profile__contact-icon,
.property-single .profile-cta__btn .profile-cta__btn-icon {
  margin-right: 0.5rem;
}
.property-single .property-single__more-features .more-featured-container .more-feature__icon {
  margin-right: 0.5rem;
}
.property-single .agent-details-wrapper {
  position: sticky;
  top: 110px;
}
/* Contact Page */
.site-content--contact-us .section__heading,
.site-content--contact-us .section__subheading {
  text-align: center;
}
.site-content--contact-us .contact-info-container .contact-info__icon {
  margin-right: 1.25rem;
  padding: 1rem;
  border: 1px solid var(--colorSecondary);
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.site-content--contact-us .contact-info-container .contact-info__content {
  width: calc(100% - 120px);
}
@media (min-width: 992px) {
  .site-content--contact-us .section__heading,
  .site-content--contact-us .section__subheading {
    text-align: left;
  }
}
