.property__top-overview {
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.property__top-overview .overview__overlay {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    pointer-events: none;
    z-index: 2;
}
.property__top-overview .overview__content {
    z-index: 3;
}