:root {
  --colorPrimary: #001238;
  --colorSecondary: #ec3323;
  --colorHeading: #062a4d;
  --colorPara: #7c8ab2;
  --colorLightBg: #f8fbff;
  --colorDarkShade: #02102d;
  --colorNavLink: #7c8a97;
  --colorBorder: #e0deff;
  --fontHeading: 'Rufina', serif;
  --fontPara: 'Rubik', sans-serif;
}
body {
  font-size: 16px;
  font-family: var(--fontPara) !important;
  overflow-x: hidden;
}
ul,
ul li {
  list-style: none !important;
  margin: 0;
  padding: 0 !important;
}
a,
a:visited,
a:hover,
a:active {
  display: inline-block;
  text-decoration: none !important;
  color: var(--colorSecondary);
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
button {
  border: none;
  background: #e0e0e0;
  color: var(--colorPrimary);
  padding: 0.75rem 1.75rem;
}
.site-content {
  margin-top: 4.75rem;
}
/* buttons */
.btn__primary {
  background: var(--colorDarkShade);
  color: #fff;
  padding: 0.75rem 1.75rem;
}
.btn__primary:hover {
  background: var(--colorSecondary);
  color: #fff;
}
.btn__secondary {
  background: var(--colorSecondary);
  color: #fff !important;
  padding: 0.75rem 1.75rem;
}
.btn__light {
  background: #fff;
  color: var(--colorPrimary) !important;
  padding: 0.75rem 1.75rem;
}
/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontHeading);
  font-weight: 700 !important;
}
h1 {
  font-size: 2.75rem !important;
  line-height: 1.15em !important;
}
h2 {
  font-size: 2.25rem !important;
  line-height: 1.2em !important;
}
h3 {
  font-size: 2rem !important;
  line-height: 1.2em !important;
}
h4 {
  font-size: 1.5rem !important;
  line-height: 1.25em !important;
}
h5 {
  font-size: 1.35rem !important;
  line-height: 1.35em !important;
}
h6 {
  font-size: 1.15rem !important;
  line-height: 1.4em !important;
}
p {
  font-size: 1rem;
  line-height: 1.5em;
  font-family: var(--fontPara);
  font-weight: 400;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3.25rem !important;
    line-height: 1.1em !important;
  }
  h2 {
    font-size: 2.65rem !important;
    line-height: 1.15em !important;
  }
  h3 {
    font-size: 2.25rem !important;
    line-height: 1.2em !important;
  }
  h4 {
    font-size: 1.65rem !important;
    line-height: 1.3em !important;
  }
  h5 {
    font-size: 1.4rem !important;
    line-height: 1.35em !important;
  }
  h6 {
    font-size: 1.2rem !important;
    line-height: 1.4em !important;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 4rem !important;
    line-height: 1.05em !important;
  }
  h2 {
    font-size: 3rem !important;
    line-height: 1.1em !important;
  }
  h3 {
    font-size: 2.5rem !important;
    line-height: 1.15em !important;
  }
  h4 {
    font-size: 1.875rem !important;
    line-height: 1.25em !important;
  }
  h5 {
    font-size: 1.45rem !important;
    line-height: 1.3em !important;
  }
  h6 {
    font-size: 1.25rem !important;
    line-height: 1.4em !important;
  }
}

/* Custom Utlity Classes */
::selection {
  color: #fff;
  background: var(--colorSecondary);
}
.text--para {
  color: var(--colorPara);
}
.text--primary {
  color: var(--colorPrimary);
}
.text--secondary {
  color: var(--colorSecondary);
}
.text--light {
  color: #fff;
}
.text--heading {
  color: var(--colorHeading);
}
.text--heading-dark {
  color: var(--colorDarkShade);
}
.text--sm {
  font-size: 0.9375rem;
}
.font--para {
  font-family: var(--fontPara) !important;
}
.font--weight-500 {
  font-weight: 500 !important;
}
.font--weight-600 {
  font-weight: 600 !important;
}
.bg--light {
  background: var(--colorLightBg);
}
.bg--light-white {
  background: #fff;
}
.bg--primary {
  background: var(--colorPrimary);
}
.bg--darkshade {
  background: var(--colorDarkShade);
}
.bg--secondary {
  background: var(--colorSecondary);
}
.bg--transparent {
  background: transparent;
}
.bg--center {
  background-position: center center !important;
}
.bg--cover {
  background-size: cover !important;
}
.bg--no-repeat {
  background-repeat: no-repeat !important;
}
.site-content {
  margin: 5rem 0 0 0;
}
.section--padding {
  padding: 6.25rem 0;
}
.section--padding-top-only {
  padding-top: 6.25rem;
}
.section--padding-bottom-only {
  padding-bottom: 6.25rem;
}
.section__subheading {
  font-size: 1.25rem;
  font-weight: 600;
}
.section__heading {
  margin: 0 0 3rem 0;
  text-transform: capitalize;
}
/* text align */
.text--center {
  text-align: center;
}
@media (min-width: 768px) {
  .text--md-left {
    text-align: left !important;
  }
}
@media (min-width: 992px) {
  .text--lg-left {
    text-align: left !important;
  }
}
/* Common slider or carousel paginaion styles */
.swiper-pagination-clickable .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--colorSecondary);
  transition: all 0.3s ease;
}
.swiper-pagination-clickable .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 24px;
  border-radius: 30px;
}
/* scroll--horizontal */
.scroll--horizontal {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
